* {
  margin: 0px;
  padding: 0px;
}
* ul {
  list-style: none;
  margin-bottom: 0px;
}
* a {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
}

header {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 999;
}
header .logo {
  position: relative;
  z-index: 999;
}
header .logo a img {
  max-width: 100%;
}
header nav ul {
  display: flex;
  justify-content: space-between;
}
header nav ul li a {
  text-transform: uppercase;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}
header nav ul li a:hover {
  text-decoration: none;
}
header nav ul .nav-product, header nav ul .nav-machinary {
  position: relative;
}
header nav ul .nav-product .nav-product-sub-ul, header nav ul .nav-product .nav-machinary-sub-ul, header nav ul .nav-machinary .nav-product-sub-ul, header nav ul .nav-machinary .nav-machinary-sub-ul {
  display: block;
  position: absolute;
  transition: all 0.3s ease;
  top: 50px;
  left: -10px;
  width: 130px;
  background-color: #fff;
  z-index: 9;
  opacity: 0;
}
header nav ul .nav-product .nav-product-sub-ul li, header nav ul .nav-product .nav-machinary-sub-ul li, header nav ul .nav-machinary .nav-product-sub-ul li, header nav ul .nav-machinary .nav-machinary-sub-ul li {
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 2px;
  border-bottom: 1px solid #5d4537;
}
header nav ul .nav-product .nav-product-sub-ul li a, header nav ul .nav-product .nav-machinary-sub-ul li a, header nav ul .nav-machinary .nav-product-sub-ul li a, header nav ul .nav-machinary .nav-machinary-sub-ul li a {
  font-size: 14px;
  color: #000;
}
header nav ul .nav-product:hover .nav-product-sub-ul, header nav ul .nav-product:hover .nav-machinary-sub-ul, header nav ul .nav-machinary:hover .nav-product-sub-ul, header nav ul .nav-machinary:hover .nav-machinary-sub-ul {
  transition: all 0.3s ease;
  opacity: 1;
  top: 30px;
  text-decoration: none;
}
header nav ul .nav-product .nav-machinary-sub-ul, header nav ul .nav-machinary .nav-machinary-sub-ul {
  width: 200px;
}
header .social-icons ul {
  display: flex;
  justify-content: space-evenly;
}
header .social-icons ul li a i {
  font-size: 20px;
  color: #fff;
  padding-left: 10px;
}

.about-company .company-banner {
  margin-bottom: 80px;
}
.about-company .company-banner img {
  width: 100%;
}
.about-company .about-img img {
  max-width: 100%;
}
.about-company .about-us {
  margin-bottom: 50px;
}
.about-company .about-us p {
  text-align: justify;
  margin-bottom: 30px;
  line-height: 28px;
}
.about-company .about-heading {
  margin: 50px 0px;
}
.about-company .about-heading h2 {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}

.contact {
  background-color: #0b0b51;
  background-position: center;
  color: #fff;
  background-size: cover;
}
.contact .contact-heading {
  background-color: red;
  box-sizing: border-box;
}
.contact .contact-heading h2 {
  color: #fff;
  padding: 5px 0px;
  text-align: left;
  font-size: 25px;
  padding-left: 8%;
  margin-left: 8px;
  font-weight: bold;
}
.contact .footer-detail-wrapper {
  color: #fff;
}
.contact .footer-detail-wrapper .our-company {
  padding-top: 20px;
}
.contact .footer-detail-wrapper .our-company h2 {
  font-size: 22px;
  font-weight: bold;
}
.contact .footer-detail-wrapper .our-company ul li {
  margin-bottom: 8px;
}
.contact .footer-detail-wrapper .our-company ul li a {
  color: #fff;
  text-transform: uppercase;
}
.contact .footer-detail-wrapper .reach-us, .contact .footer-detail-wrapper .factory {
  padding-top: 20px;
}
.contact .footer-detail-wrapper .reach-us h2, .contact .footer-detail-wrapper .factory h2 {
  font-size: 22px;
  font-weight: bold;
}
.contact .footer-detail-wrapper .reach-us ul li, .contact .footer-detail-wrapper .factory ul li {
  margin-bottom: 8px;
}
.contact .footer-detail-wrapper .reach-us ul li span, .contact .footer-detail-wrapper .factory ul li span {
  font-size: 16px;
}
.contact .footer-detail-wrapper .reach-us ul li i, .contact .footer-detail-wrapper .factory ul li i {
  margin-right: 10px;
  font-size: 18px;
}
.contact .footer-detail-wrapper .reach-us ul li a, .contact .footer-detail-wrapper .factory ul li a {
  margin-right: 10px;
  color: #fff;
}
.contact .footer-detail-wrapper .reach-us ul li a:hover, .contact .footer-detail-wrapper .factory ul li a:hover {
  text-decoration: none;
}
.contact .footer-detail-wrapper .factory a button {
  margin-top: 20px;
  padding: 5px 20px;
  border-radius: 20px;
  border: none;
  outline: none;
  background-color: red;
  color: #fff;
}
.contact .footer-detail-wrapper .factory a button:hover {
  transition: all 0.4s ease;
  background-color: #5d4537;
}

.whatsap-icon {
  display: inline-block;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99999;
}
.whatsap-icon i {
  font-size: 50px;
  color: green;
  cursor: pointer;
}/*# sourceMappingURL=about-readmore.css.map */